In [1]:
from plot_results import *
import pandas as pd
import numpy as np

# 1. Data construction

In [2]:
df = pd.DataFrame(columns=['operator', 'birth_year', 'gender', 'math_ability'], dtype='float')
all_result_files = get_all_result_files()
for f in all_result_files:
    operator = get_operator(f)
    file_name = f.split('/')[-1]
    
    birth_year = int(file_name.split('_')[-3]) # year
    int_gender = int(file_name.split('_')[-2]) # gender
    if int_gender == 1:
        gender = 'male'
    else:
        gender = 'female'
    math_ability = int(file_name.split('_')[-1][0]) # math ability
    df = df.append({'operator':operator, 'birth_year':birth_year, 'gender':gender, 'math_ability':math_ability}, ignore_index=True)

In [3]:
df.dtypes

operator         object
birth_year      float64
gender           object
math_ability    float64
dtype: object

# 2. The number of partificipants

## 2.1. For all participants

In [4]:
len(df)

153

## 2.2. For each gender

In [5]:
df.groupby(['gender']).count()

        operator  birth_year  math_ability
gender
female        64          64            64
male          89          89            89

In [6]:
df.groupby(['operator', 'gender']).count()

                 birth_year  math_ability
operator gender
add      female          13            13
         male            17            17
divide   female          13            13
         male            17            17
modulo   female          11            11
         male            19            19
multiply female          18            18
         male            15            15
subtract female           9             9
         male            21            21

# 3. Mean and STD of birth year and math ability

## 3.1. For all pariticpants

In [10]:
df[['birth_year', 'math_ability']].mean()

birth_year      1997.679739
math_ability       2.836601
dtype: float64

In [11]:
df[['birth_year', 'math_ability']].std()

birth_year      1.841244
math_ability    0.683042
dtype: float64

## 3.2. For each gender

In [7]:
df.groupby(['gender'])['birth_year', 'math_ability'].mean()

         birth_year  math_ability
gender
female  1997.703125      2.625000
male    1997.662921      2.988764

In [8]:
df.groupby(['gender'])['birth_year', 'math_ability'].std()

        birth_year  math_ability
gender
female    1.848892      0.723747
male      1.846027      0.612268